<h1 class="green">TwitterClone</h1>


<%= link_to "New Tweet", new_tweet_path, :class => "btn btn-default" %>
<h3>Tweets:</h3>

<ul>
  <% @tweets.each do |tweet| %>
    <li><%= link_to tweet.status, tweet_path(tweet.id) %></li>
  <% end %>
</ul>
